@model List<Warehouse>
@{
    ViewData["title"] = "Depo Listesi";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewData["title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <a asp-controller="Product" asp-action="Create" class="btn btn-secondary btn-sm">
                                <i class="fas fa-plus"></i>
                                Yeni
                            </a>
                        </p>
                        @if (Model.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Malzeme Giriş No</th>
                                        <th>Tedarikçi Adı</th>
                                        <th>Malzeme Giriş Tarihi</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.Supplier.Name</td>
                                            <td>@item.CreatedAt</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-controller="Warehouse" asp-action="Update" asp-route-id="@item.Id">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                @if(User.FindFirstValue(ClaimTypes.Role) == Role.WarehouseController.ToString())
                                                {
                                                    <a class="btn btn-danger btn-sm" asp-controller="Warehouse" asp-action="Delete" asp-route-id="@item.Id">
                                                        <i class="fas fa-trash"></i>
                                                    </a>                                                    
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>MGF</th>
                                        <th>Tedarikçi Adı</th>
                                        <th>Malzeme Giriş Tarihi</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span>Henüz depo kaydınız yok!</span>
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
