@model List<Order>
@{
    ViewData["title"] = "Siparişlerimiz";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewData["title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            @if (User.FindFirstValue(ClaimTypes.Role) == Role.ExportUser.ToString()
                            || User.FindFirstValue(ClaimTypes.Role) == Role.DomesticUser.ToString())
                            {
                                <a href="/Order/Create" class="btn btn-secondary">
                                    <i class="fas fa-plus"></i>
                                    Yeni
                                </a>
                            }                            
                        </p>
                        @if (Model.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Form No</th>
                                        <th>Müşteri Adı</th>
                                        <th>Adresi</th>
                                        <th>Departman</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FormId</td>
                                            <td>@item.Customer.Name</td>
                                            <td>@item.Customer.Address</td>
                                            <td>@item.Department.Name</td>
                                            <td>
                                                @if(User.FindFirstValue(ClaimTypes.Role) == Role.ExportUser.ToString() 
                                                    || User.FindFirstValue(ClaimTypes.Role) == Role.DomesticUser.ToString())
                                                {
                                                    <a class="btn btn-success" href="/OrderDetail/Create/@item.Id">
                                                        <i class="fas fa-plus"></i>
                                                    </a>
                                                    <a class="btn btn-warning" href="/Order/Update/@item.Id">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                }                                                                                                
                                                <a class="btn btn-info" href="/OrderDetail/Detail/@item.Id">
                                                    <i class="fas fa-info"></i>
                                                </a>
                                                @if(User.FindFirstValue(ClaimTypes.Role) == Role.Admin.ToString())
                                                {
                                                    <a class="btn btn-danger" href="/Order/Delete/@item.Id">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                }                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Form No</th>
                                        <th>Müşteri Adı</th>
                                        <th>Adresi</th>
                                        <th>Departman</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <i class="fas fa-close"></i>
                                <span>Henüz kayıtlı hiçbir siparişiniz yok</span>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
