@model ResetViewModel

@{
	ViewData["title"] = "Parola Ayarları";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewData["title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/dist/img/avatars/@User.FindFirstValue("Avatar")"
                                 alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">@User.Identity.Name</h3>
                        @if (User.FindFirstValue(ClaimTypes.Role) == Role.ExportUser.ToString())
                        {
                            <p class="text-muted text-center">Yurtdışı Satış Koordinatörü</p>
                        }
                        else if (User.FindFirstValue(ClaimTypes.Role) == Role.DomesticUser.ToString())
                        {
                            <p class="text-muted text-center">Yurtiçi Satış Koordinatörü</p>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Update">Hesap Ayarları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-action="Reset">@ViewData["title"]</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    @if (TempData["error"] is not null)
                    {
                        <div class="alert alert-danger">
                            <i class="fas fa-close"></i>
                            <span>@TempData["error"]</span>
                        </div>
                    }
                    else if (TempData["success"] is not null)
                    {
                        <div class="alert alert-success">
                            <i class="fas fa-close"></i>
                            <span>@TempData["success"]</span>
                        </div>
                    }
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="settings">
                                <form class="form-horizontal" asp-action="Reset" method="post">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Parolanız</label>
                                        <div class="col-sm-10">
                                            <input asp-for="CurrentPassword" type="password" class="form-control" id="inputName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Yeni Parola</label>
                                        <div class="col-sm-10">
                                            <input asp-for="NewPassword" type="password" class="form-control" id="inputName2" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Yeni Parola</label>
                                        <div class="col-sm-10">
                                            <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="inputName2" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">Güncelle</button>
                                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">İptal</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>
    </div>
</section>




