@model List<Material>
@{
    ViewData["title"] = "Malzemelerimiz";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewData["title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            @if (User.FindFirstValue(ClaimTypes.Role) == Role.WarehouseController.ToString())
                            {
                                <a asp-action="Create" class="btn btn-secondary btn-sm">
                                    <i class="fas fa-plus"></i>
                                    Yeni
                                </a>
                            }
                        </p>
                        @if (Model.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Malzeme Kodu</th>
                                        <th>Malzeme Adı</th>
                                        <th>Malzeme Tanımı</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>
                                                @if (User.FindFirstValue(ClaimTypes.Role) == Role.WarehouseController.ToString())
                                                {
                                                    <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.Id">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-warning btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Malzeme Kodu</th>
                                        <th>Malzeme Adı</th>
                                        <th>Malzeme Tanımı</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span>Henüz kayıtlı hiçbir malzemeniz yok</span>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
