@model List<NotifyUser>
@{
    ViewData["title"] = "Bildirimlerim";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewData["title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <a asp-action="ReadAll" class="btn btn-secondary btn-sm">
                                <i class="fas fa-book"></i> Tüm bildirimleri okundu olarak işaretle
                            </a>
                            <a asp-action="DeleteAll" class="btn btn-danger btn-sm">
                                <i class="fas fa-book"></i> Tüm bildirimleri sil
                            </a>
                        </p>                        
                        @if (Model.Any(_ => _.User.Name == User.Identity.Name))
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>İçerik</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(_ => _.User.Name == User.Identity.Name))
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/dist/img/avatars/@item.User.Avatar" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                            </td>
                                            <td>@item.Notification.Description</td>
                                            <td>
                                                @if(item.IsRead == false)
                                                {
                                                    <a class="btn btn-warning" asp-action="Read" asp-route-id="@item.Id">
                                                        <i class="fas fa-book-open"></i>
                                                    </a>
                                                }
                                                else {
                                                    <a class="btn btn-warning" asp-action="Read" asp-route-id="@item.Id">
                                                        <i class="fas fa-book"></i>
                                                    </a>
                                                }
                                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>İçerik</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span>Henüz kayıtlı hiçbir mesajınız yok</span>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
